# Python bytecode
__pycache__/
*.py[cod]

# Environment variables
.env

# Flask instance folder
instance/

# IDE-specific files
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Local virtual environment
venv/
env/

# Logs
*.log
